<div class="bg-component">
  <div class="form">
    <mat-card class="card">
      <mat-card-title> Teacher registration </mat-card-title>
      <mat-card-content>
        <div class="container">
          <mat-form-field>
            <input
              [(ngModel)]="registerData.name"
              matInput
              placeholder="name and lastname"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <input
              [(ngModel)]="registerData.identify"
              matInput
              placeholder="ID"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <input
              [(ngModel)]="registerData.specialty"
              matInput
              placeholder="specialty"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <input
              [(ngModel)]="registerData.email"
              type="email"
              matInput
              placeholder="Email"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <input
              [(ngModel)]="registerData.password"
              type="password"
              matInput
              placeholder="password"
              required
            />
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button
          (click)="registerTeacher()"
          class="button colorButton"
          mat-raised-button
        >
          Register
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
