/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.style-snackBarTrue {
  background-color: #238037;
  color: #ffffff;
}

.style-snackBarFalse {
  background-color: #ac240c;
  color: #ffffff;
}
